{% extends 'add_item.html' %}

{% block header %}
    {{ super() }}
<script type="text/javascript" src="{{ url_for('js', path='./wine/add_wine.js') }}" defer></script>
{% endblock %}

{% block nav %}
<a href="{{ url_for('wine') }}">
    <h2 class="text-center">Оценки</h2>
</a>
<a href="{{ url_for('add_wine') }}">
    <h2 class="text-center">Добавить оценку</h2>
</a>
{% endblock %}

{% block item_form %}
<div class="form-group">
  <input type="text" class="form-control" name="name" id="name" placeholder="Название">
</div>
<div class="form-group">
  <input type="text" class="form-control" name="manufacturer" id="manufacturer" placeholder="Производитель">
</div>
<div class="row form-group"  style="display: flex;">
  <div class="col-md-4">
    <input type="text" class="form-control" name="alcohol" id="alcohol" placeholder="Крепость" onkeyup="this.value = this.value.replace(/[^\d\.]/g,'');">
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <select class="form-control" required id="style">
        <option value="">Выбери вид</option>
        <option value="Красное">Красное</option>
        <option value="Белое">Белое</option>
        <option value="Розовое">Розовое</option>
        <option value="Игристое">Игристое</option>
        <option value="Фруктовое">Фруктовое</option>
      </select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <select class="form-control" required id="sugar">
        <option value="">Выбери вкус</option>
        <option value="Сухое">Сухое</option>
        <option value="Полусухое">Полусухое</option>
        <option value="Полусладкое">Полусладкое</option>
        <option value="Сладкое">Сладкое</option>
      </select>
    </div>
  </div>

</div>
<div class="form-group">
  <textarea rows="3" class="form-control" name="review" id="review" placeholder="Описание"></textarea>
</div>


<div id="slider">
  <output id="ratevalue">Оценка: 50</output>
  <input class="bar" type="range" name="rate" id="rate" value="50" min="0" max="100" onchange="ratevalue.value=`Оценка: ${value}`"/>
</div>


<div class="form-group">
  <textarea rows="3" class="form-control" name="others" id="others" placeholder="Примечение (за сколько брал, где и тд.)"></textarea>
</div>

<label for="photo">Загрузить фотографи</label>
<div class="form-group"  style="display: flex;">
  <input id="photo" class="btn btn-default" name="photos" type="file" />
  <p title="Очистить загрузки" id="clear_photo_input" class="btn" style="font-size: 30px">✖</p>
  <br>
</div>

{% endblock %}