{% extends 'add_item.html' %}

{% block header %}
    {{ super() }}
<script type="text/javascript" src="{{ url_for('js', path='./bar/add_bar.js') }}" defer></script>
{% endblock %}

{% block nav %}
<a href="{{ url_for('bar') }}">
    <h2 class="text-center">Оценки</h2>
</a>
<a href="{{ url_for('add_bar') }}">
    <h2 class="text-center">Добавить оценку</h2>
</a>
{% endblock %}

{% block item_form %}
<div class="form-group">
    <input type="text" class="form-control" name="name" id="name" placeholder="Название">
</div>
<div class="form-group row"  style="display: flex;">

  <div class="col-md-6">
    <input type="text" class="form-control" name="country" id="country" placeholder="Страна">
</div>

  <div class="col-md-6">
    <input type="text" class="form-control" name="city" id="city" placeholder="Город">
</div>
</div>
<div class="form-group row"  style="display: flex;">

  <div class="col-md-6">
    <input type="text" class="form-control" name="address" id="address" placeholder="Адрес">
</div>

  <div class="col-md-6">
    <input type="text" class="form-control" name="worktime" id="worktime" placeholder="Время работы">
</div>
</div>
<div class="form-group">
    <textarea rows="3" class="form-control" name="review" id="review" placeholder="Описание"></textarea>
</div>


<div id="slider">
    <output id="ratevalue">Оценка: 50</output>
    <input class="bar" type="range" name="rate" id="rate" value="50" min="0" max="100" onchange="ratevalue.value=`Оценка: ${value}`"/>
</div>


<div class="form-group">
    <textarea rows="3" class="form-control" name="others" id="others" placeholder="Примечение (за сколько брал, где и тд.)"></textarea>
</div>

<label for="photo">Загрузить фотографи</label>
<div class="form-group"  style="display: flex;">
    <input id="photo" class="btn btn-default" name="photos" type="file" />
    <p title="Очистить загрузки" id="clear_photo_input" class="btn" style="font-size: 30px">✖</p>
    <br>
</div>

{% endblock %}