{% extends 'show_items.html' %}

{% block alcohol_items %}

<div class="row">
    <div class="col-xs-12 col-md-12 section-container-spacer text-center">
        <a href="{{ url_for('bar') }}">
            <h2 class="text-center">Оценки</h2>
        </a>
        <a href="{{ url_for('add_bar') }}">
            <h2 class="text-center">Добавить оценку</h2>
        </a>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{ url_for('templates', path='./js/bar/show_bar.js') }}"></script>
{% endblock %}
