{% extends 'base.html' %}

{% block content %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">Добавить пиво с оценкой</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <form action="{{ url_for('add_beer') }}" class="reveal-content"  method="post" enctype="multipart/form-data" boundary="another cool CR">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Название">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" id="manufacturer" placeholder="Производитель">
                      </div>
                      <div class="form-group"  style="display: flex;">
                        <input type="text" class="form-control" id="fortress" placeholder="Крепость" onkeyup="this.value = this.value.replace(/[^\d]/g,'');">
                        <input type="text" class="form-control" id="gravity" placeholder="Плотность" onkeyup="this.value = this.value.replace(/[^\d]/g,'');">
                      </div>
                      <div class="form-group">
                        <textarea rows="5" class="form-control" id="review" placeholder="Описание"></textarea>
                      </div>

                      <div class="d-flex justify-content-center my-4">
                        <div class="range-field w-75">
                          <label for="rate">Обща оценка (от 1 до 100)</label>
                          <input id="rate" class="border-0" type="range" min="0" max="100" />
                        </div>
                        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
                      </div>


                      <div class="form-group">
                        <textarea rows="5" class="form-control" id="others" placeholder="Примечение (за сколько брал, где и тд."></textarea>
                      </div>


                      <button type="submit" class="btn btn-default btn-lg">Send</button>
                    </div>




                    <div class="col-md-5 address-container">
                      <ul class="list-unstyled">
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                          </span>
                          + 33 9 07 45 12 65
                        </li>
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa-at" aria-hidden="true"></i>
                          </span>
                          e-mail@mail.io
                        </li>
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                          </span>
                          42 rue Moulbert 75016 Paris
                        </li>
                      </ul>
                      <h3>Follow me on social networks</h3>
                      <a href="http://www.facebook.com" title="" class="fa-icon">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a href="http://www.twitter.com" title="" class="fa-icon">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="http://www.linkedin.com" title="" class="fa-icon">
                        <i class="fa fa-linkedin"></i>
                      </a>

                    </div>
                  </div>
                </form>
            </div>

          </div>
         
       </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', path='./js/beer/add_beer.js') }}"></script>
{% endblock %}
