<!DOCTYPE html>
<html lang="en">

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='apple-icon-180x180.png') }}">

  <title>Пивка - для рывка</title>  

<link href="{{ url_for('css', path='./main.3f6952e4.css') }}" rel="stylesheet"></head>

{% block header %}
{% endblock %}

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse"  style="background-image: url('{{ url_for('static', path='background.jpg') }}')">
    <div class="container"> 
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse" >
        <ul class="nav navbar-nav ">
          <li><a href="{{ url_for('common') }}" title="">01 : Home</a></li>
          <li><a href="{{ url_for('beer') }}" title="">02 : Пиво</a></li>
          <li><a href="{{ url_for('wine') }}"title="">03 : Вино</a></li>
          <li><a href="{{ url_for('vodka') }}" title="">04 : Водка</a></li>
<!--           <li><a href="" title="">05 : Коньяк</a></li>
          <li><a href="" title="">06 : Виски</a></li>
          <li><a href="" title="">07 : Другой алкоголь</a></li> -->
          <li><a href="{{ url_for('articles') }}" title="">08 : Статьи</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

    <div class="hero-full-container background-image-container white-text-container">
      {% block content %}
      {% endblock %}
    </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>

<script type="text/javascript" src="{{ url_for('js', path='./main.70a66962.js') }}"></script>
</body>
{% block pagination %}
{% endblock %}

{% block footer %}
{% endblock %}
</html>