{% extends 'base.html' %}

{% block content %}

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer text-center">
                <a href="">
                  <h2 class="text-center">Оценки</h2>
                </a>
                <a href="{{ url_for('add_beer') }}">
                  <h2 class="text-center">Добавить оценку</h2>
                </a>
            </div>
        </div>
        <div class="row" id="beer_container">
            <!-- {% for b in beer %}
                <div class="col-xs-12 col-md-4">
                    {% if b.photos.filenames %}
                        <img src="{{ url_for('photo', path='./beer/' + b.photos.filenames[0]) }}" alt="" class="img-responsive"  width="350" height="480">
                    {% else %}
                        <img src="{{ url_for('photo', path='./beer/beer_default.png') }}" alt="" class="img-responsive"  width="350" height="480">
                    {% endif %}
                    <h3 class="text-center">{{b.name}}</h3>
                        <div class="row">
                            <div class="col-md-4">
                                        <h4>Крепость</h4><p>{{b.fortress}}</p>
                            </div>
                            <div class="col-md-4">
                                        <h4>Плотность</h4><p>{{b.gravity}}</p>
                            </div>
                            <div class="col-md-4">
                                        <h4>IBU</h4><p>{{b.ibu}}</p>
                            </div>
                        </div>
                    <h4>Описание</h4><p>{{b.review}}</p>
                    <h4>Производитель</h4><p>{{b.manufacturer}}</p>
                    <h4>Оценка</h4><p>{{b.rate}}</p>
                    <h4>Примечание</h4><p>{{b.others}}d</p>
                </div>
            {% endfor %} -->
        </div>


  <link href="{{ url_for('static', path='./pagination.css') }}" rel="stylesheet">
    <div class="center">
      <div class="pagination" id="pagination">
      <a class="get_beer_btn" id="prev_link">Previous</a>
      <a class="get_beer_btn" id="next_link">Next</a>
      </div>
    </div>

    </div>
</div>
<!-- <link href="{{ url_for('static', path='./main.82cfd66e.css') }}" rel="stylesheet">

<main class="" id="main-collapse">
<div class="hero-full-wrapper">
  <div class="grid">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    


            {% for b in beer %}
    <div class="grid-item">
        {% if b.photos.filenames %}
                        <img src="{{ url_for('photo', path='./beer/' + b.photos.filenames[0]) }}" alt="" class="img-responsive"  width="350" height="480">
                    {% else %}
                    <img class="img-responsive" alt="" src="{{ url_for('photo', path='./beer/beer_default.png') }}" width="350" height="480">
                    {% endif %}
                    
      
      <div class="col-xs-12 col-md-4">
                    <h3 class="text-center">{{b.name}}</h3>
                        <div class="row">
                            <div class="col-md-4">
                                        <h4>Крепость</h4><p>{{b.fortress}}</p>
                            </div>
                            <div class="col-md-4">
                                        <h4>Плотность</h4><p>{{b.gravity}}</p>
                            </div>
                            <div class="col-md-4">
                                        <h4>IBU</h4><p>{{b.ibu}}</p>
                            </div>
                        </div>
                    <h4>Описание</h4><p>{{b.review}}</p>
                    <h4>Производитель</h4><p>{{b.manufacturer}}</p>
                    <h4>Оценка</h4><p>{{b.rate}}</p>
                    <h4>Примечание</h4><p>{{b.others}}</p>
                </div>
    </div>
            {% endfor %}
    
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>

</main>
 -->
{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{ url_for('static', path='./js/beer/show_beer.js') }}"></script>
{% endblock %}
