{% extends 'base.html' %}

{% block content %}

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer text-center">
                <a href="">
                  <h2 class="text-center">Оценки</h2>
                </a>
                <a href="{{ url_for('add_beer') }}">
                  <h2 class="text-center">Добавить оценку</h2>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="./assets/images/img-02.jpg" alt="" class="img-responsive">
                <img src="{{ url_for('static', path='./assets/images/work01-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Consectetur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="{{ url_for('static', path='./assets/images/work02-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Malesuada</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="{{ url_for('static', path='./assets/images/work03-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Phasellus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="./assets/images/img-02.jpg" alt="" class="img-responsive">
                <img src="{{ url_for('static', path='./assets/images/work01-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Consectetur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="{{ url_for('static', path='./assets/images/work02-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Malesuada</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="{{ url_for('static', path='./assets/images/work03-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Phasellus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="./assets/images/img-02.jpg" alt="" class="img-responsive">
                <img src="{{ url_for('static', path='./assets/images/work01-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Consectetur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="{{ url_for('static', path='./assets/images/work02-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Malesuada</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="{{ url_for('static', path='./assets/images/work03-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Phasellus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="./assets/images/img-02.jpg" alt="" class="img-responsive">
                <img src="{{ url_for('static', path='./assets/images/work01-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Consectetur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="{{ url_for('static', path='./assets/images/work02-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Malesuada</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="{{ url_for('static', path='./assets/images/work03-hover.jpg') }}" alt="" class="img-responsive">
                <h3 class="text-center">Phasellus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}



<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
{% block footer %}
 <script type="text/javascript" src="./main.70a66962.js"></script></body>
{% endblock %}

</html>