{% extends 'base.html' %}

{% block content %}

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer text-center">
                <a href="">
                  <h2 class="text-center">Оценки</h2>
                </a>
                <a href="{{ url_for('add_beer') }}">
                  <h2 class="text-center">Добавить оценку</h2>
                </a>
            </div>
        </div>
        <div class="row">
            {% for b in beer %}
                <div class="col-xs-12 col-md-4">
                    <img src="{{ url_for('photo', path='./beer/' + b.photos.filenames[0]) }}" alt="" class="img-responsive">
                    <h3 class="text-center">{{b.name}}</h3>
                    <p>{{b.review}}</p>
                    <p>{{b.manufacturer}}</p>
                    <p>{{b.fortress}}</p>
                    <p>{{b.gravity}}</p>
                    <p>{{b.rate}}</p>
                    <p>{{b.others}}</p>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}



<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
{% block footer %}
 <script type="text/javascript" src="./main.70a66962.js"></script></body>
{% endblock %}

</html>