{% extends 'base.html' %}
{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="hero-full-wrapper">
              <div class="text-content">
                <h1>Привет, это сайт, на котором:<br>
                  <span id="typed-strings">
                    <span>
                    Я и мои друзья публикают свои впечатления от того или иного алкогольного продукта. Я, в общем и целом, отвечаю за модерацию и пивасик. Ты можешь попросить у меня аккаунт для того, чтобы вносить свою лепту, но я его тебе не дам :))0))
                    Вообще, я не знал что здесь написать, поэтому Анекдот!
                      Объявление по городскому радио Тель-Авива.
                    - Уважаемые жители города! Из городского зоопарка сбежал енот.
                    Всем, кто видел енота, срочно заплатить в кассу зоопарка 10 шекелей!
                     :)
                    Another one:
                    Идет прапорщик по части видит стоит ефрейтор с молотком, и за палец держится.
                    -П: Ты чего тут делаешь?
                    -Е: Да вот товарищ прапорщик хотел гвоздь в стенку забить, да и по пальцу попал случайно.
                    -П: Эх молодежь нихуя вы не умеете.
                    (Прапорщик берет гвоздь двумя пальцами и одним ударом головы вбивает его в стену по самую шляпку)
                    -Е: Ух ты, товарищ прапорщик, а в кирпичную сможете?
                    -П: Конечно!
                    (Прапорщик берет гвоздь, и опять одним ударом головы вбивает его в стену)
                    -Е: А в бетонную?
                    -П: Да запросто!
                    (Прапорщик берет гвоздь, и по той-же схеме вбивает его)
                    -Е: А в танк, прямо в броню?
                    -П: Да не вопрос!
                    (Прапорщик берет гвоздь, бьет - БАЦ!, не вбился, прапорщик еще раз бьет - гвоздь загнулся, но не вбился)
                    -П: Да, что за херня то?!!
                    ( Прапорщик открывает люк у танка залазит, а там другой прапорщик спит уперевшись лбом в стенку)
                    </span>
                  </span>
                  <span id="typed"></span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block footer %}
{% endblock %}

</html>